$border_color: #dcdcdc;
$active_items: #4280bd;
$text_dark: rgba(
    $color: #000000,
    $alpha: 0.5,
);

[aria-hidden="true"] {
    display: none;
}

.questions-box{
    border-top: 1px solid $border_color;
    border-radius: 8px;
}

.question-container {
    .question-item-box {
        border: 1px solid $border_color;
        border-radius: 8px;
        border-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        transition: 0.2s all;
        color: $text_dark;
        .question-item-title {
            border-right: 1px solid $border_color;
        }
        &:hover {
            background-color: #eee;
            cursor: pointer;
            border-color: darken($color: $border_color, $amount: 10);
            .question-item-title {
                border-color: darken($color: $border_color, $amount: 10);
            }
        }
        &.active {
            background-color: $active_items;
            border-color: darken($color: $active_items, $amount: 10);
            color: rgba($color: #ffffff, $alpha: 1);
            .question-item-title {
                border-color: darken($color: $active_items, $amount: 10);
            }
        }
    }
    .question-item-delete {
        background-color: var(--bs-danger);
        color: var(--bs-white);
        cursor: pointer;
        border-radius: 8px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.question-add-box {
    border: 1px solid $border_color;
    border-radius: 8px;
    transition: 0.2s all;
    color: rgba($color: #000000, $alpha: 0.5);
    &:hover {
        background-color: #eee;
        cursor: pointer;
        border-color: darken($color: $border_color, $amount: 10);
    }
    .question-add-icon {
        color: $text_dark;
    }
}

.question-content{
    border-top: 1px solid $border_color;
    border-radius: 8px;
}

.choice-add-box {
    border: 1px solid $border_color;
    border-radius: 8px;
    transition: 0.2s all;
    color: rgba($color: #000000, $alpha: 0.5);
    &:hover {
        background-color: #eee;
        cursor: pointer;
        border-color: darken($color: $border_color, $amount: 10);
    }
    .question-add-icon {
        color: $text_dark;
    }
}
