[aria-hidden=true] {
  display: none;
}

.questions-box {
  border-top: 1px solid #dcdcdc;
  border-radius: 8px;
}

.question-container .question-item-box {
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  transition: 0.2s all;
  color: rgba(0, 0, 0, 0.5);
}
.question-container .question-item-box .question-item-title {
  border-right: 1px solid #dcdcdc;
}
.question-container .question-item-box:hover {
  background-color: #eee;
  cursor: pointer;
  border-color: #c3c3c3;
}
.question-container .question-item-box:hover .question-item-title {
  border-color: #c3c3c3;
}
.question-container .question-item-box.active {
  background-color: #0d6efd;
  border-color: #0257d5;
  color: white;
}
.question-container .question-item-box.active .question-item-title {
  border-color: #0257d5;
}
.question-container:not(:first-child) .question-item-box {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.question-container .question-item-delete {
  background-color: var(--bs-danger);
  color: var(--bs-white);
  cursor: pointer;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.question-add-box {
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  transition: 0.2s all;
  color: rgba(0, 0, 0, 0.5);
}
.question-add-box:hover {
  background-color: #eee;
  cursor: pointer;
  border-color: #c3c3c3;
}
.question-add-box .question-add-icon {
  color: rgba(0, 0, 0, 0.5);
}

.question-content {
  border-top: 1px solid #dcdcdc;
  border-radius: 8px;
}

.choice-add-box {
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  transition: 0.2s all;
  color: rgba(0, 0, 0, 0.5);
}
.choice-add-box:hover {
  background-color: #eee;
  cursor: pointer;
  border-color: #c3c3c3;
}
.choice-add-box .question-add-icon {
  color: rgba(0, 0, 0, 0.5);
}
